<div class="card">
  <img
    src="../../../assets/undraw_pic_profile_re_7g2h.svg"
    alt="John"
    style="width: 200px"
  />
  <div class="Details">
    <p><span class="key">Name:</span> <span class="value">{{ userProfile.name }}</span></p>
    <p><span class="key">Email:</span> <span class="value">{{ userProfile.email }}</span></p>
    <p><span class="key">Phone Number:</span> <span class="value">{{ userProfile.phone_number }}</span></p>
    <p><span class="key">Role:</span> <span class="value">{{ userProfile.role }}</span></p>
    <div class="edit-icon">
    <mat-icon fontSet="fa" fontIcon="fa-edit" (click)="openIcon()"></mat-icon>
    </div>
  </div>
</div>
