.history{
    /* height: fit-content; */
    align-items: center;
    justify-content: center;
    display: flex;
}
.left-side{
    width: 10%;
}
.right-side{
    padding-top: 90px;
    width: 65%;
}



@media (max-width:1080px) {
    .left-side{
        width: 10%;
    }
    .right-side{
        width: 80%;
        margin-top: 2%;
    }

}