.history{
    /* height: fit-content; */
    align-items: center;
    justify-content: center;
    display: flex;
}
.left-side{
    width: 10%;
}
.right-side{
    padding-top: 90px;
    width: 65%;
}



@media (max-width:1080px) {
    .left-side{
        width: 10%;
    }
    .right-side{
        width: 80%;
        margin-top: 2%;
    }

}

.btn-group button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .exercise-btn{
    margin-right: 14px;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }

  .buttons-group{
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    width: 100;
    justify-content: end;
  }

  
