

.history{
    /* height: fit-content; */
    align-items: center;
    justify-content: center;
    display: flex;
}
.left-side{
    width: 10%;
}
.right-side{
    padding-top: 40px;
    width: 65%;
}





h1{
margin: 28px;
color: #21695c;
}

.goal-section{
    margin: 100px 0px;
    
}

@media (max-width:1080px) {
    .left-side{
        width: 10%;
    }
    .right-side{
        width: 80%;
        margin-top: 2%;
    }

}