
  
        <header>
            <nav>
                <div class="logo">
                  <a href="/">Fit Fierce</a>
                  </div>
                <ul class="nav-links">
                    
                    
                    <div *ngIf="token;else Logop">
                      <button mat-stroked-button (click)="logout()" color="warn" style="border: 1px solid black; padding: 15px;">LogOut</button>
                    </div>

                    
                    <ng-template #Logop>
                      <li ><a href="/signin">
                        Login</a>
                        </li>
                      <li><a href="/signup">
                        Sign Up</a>
                        </li>
                      <li><a href="/signuptrainer">
                        Sign Up As Trainer</a>
                        </li>
                    </ng-template>

                    
                </ul>
            </nav>
        </header>