
  
        <header>
            <nav>
                <div class="logo">
                  Fit Fierce
                  </div>
                <ul class="nav-links">
                    
                    
                    <li ><a href="#">
                      Login</a>
                      </li>
                    <li><a href="#">
                      Sign Up</a>
                      </li>
                </ul>
            </nav>
        </header>
     
        <section class="about">
            <h1>About Us</h1>
            <p style="font-weight: bold">
              Fit Fierce is a leading platform...
              </p>
            <div class="about-info">
                <div class="about-img">
                    <img src=
    "../../../assets/undraw_fitness_tracker_3033.svg" alt="Geeksforgeeks">
                </div>
                <div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Et soluta necessitatibus voluptatum ducimus neque deserunt voluptate, dignissimos ipsa dolores inventore laudantium fugiat repellendus accusamus voluptatibus assumenda quas animi eum optio recusandae sed est. Quae?
                </p>
                    <button>Get Started</button>
                </div>
            </div>
        </section>
     
       
            
                
            <section>
                <div class="row-header">
                    <div class="row">
                        <h1>Our Features</h1>
                      </div>
                </div>
                <div class="main-row">
                    
                      <div class="row">
                        <!-- Column One -->
                        <div class="column">
                          <div class="card">
                            <div class="icon">
                              <i class="fa-solid fa-user"></i>
                            </div>
                            <h3>User Friendly</h3>
                            <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
                              asperiores natus ad molestiae aliquid explicabo. Iste eaque quo et
                              commodi.
                            </p>
                          </div>
                        </div>
                        <!-- Column Two -->
                        <div class="column">
                          <div class="card">
                            <div class="icon">
                              <i class="fa-solid fa-shield-halved"></i>
                            </div>
                            <h3>Super Secure</h3>
                            <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
                              asperiores natus ad molestiae aliquid explicabo. Iste eaque quo et
                              commodi.
                            </p>
                          </div>
                        </div>
                        <!-- Column Three -->
                        <div class="column">
                          <div class="card">
                            <div class="icon">
                              <i class="fa-solid fa-headset"></i>
                            </div>
                            <h3>Quick Support</h3>
                            <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
                              asperiores natus ad molestiae aliquid explicabo. Iste eaque quo et
                              commodi.
                            </p>
                          </div>
                        </div>
                      </div>
                </div>
                
              </section>
              
            <section>
                <div class="row-header">
                    <div class="row">
                        <h1>Our Features</h1>
                      </div>
                </div>
                <div class="main-row">
                    
                      <div class="row">
                        <!-- Column One -->
                        <div class="column">
                          <div class="card">
                            <div class="icon">
                              <i class="fa-solid fa-user"></i>
                            </div>
                            <h3>User Friendly</h3>
                            <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
                              asperiores natus ad molestiae aliquid explicabo. Iste eaque quo et
                              commodi.
                            </p>
                          </div>
                        </div>
                        <!-- Column Two -->
                        <div class="column">
                          <div class="card">
                            <div class="icon">
                              <i class="fa-solid fa-shield-halved"></i>
                            </div>
                            <h3>Super Secure</h3>
                            <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
                              asperiores natus ad molestiae aliquid explicabo. Iste eaque quo et
                              commodi.
                            </p>
                          </div>
                        </div>
                        <!-- Column Three -->
                        <div class="column">
                          <div class="card">
                            <div class="icon">
                              <i class="fa-solid fa-headset"></i>
                            </div>
                            <h3>Quick Support</h3>
                            <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
                              asperiores natus ad molestiae aliquid explicabo. Iste eaque quo et
                              commodi.
                            </p>
                          </div>
                        </div>
                      </div>
                </div>
                
              </section>
              
              <section class="sectiona">Fit Fierce</section>
              <footer class="footer-distributed">
              
                    <div class="footer-left">
              
                      <h3>Company<span>logo</span></h3>
              
                      <p class="footer-links">
                        <a href="#" class="link-1">Home</a>
                        
                        <a href="#">Blog</a>
                      
                        <a href="#">Pricing</a>
                      
                        <a href="#">About</a>
                        
                        <a href="#">Faq</a>
                        
                        <a href="#">Contact</a>
                      </p>
              
                      <p class="footer-company-name">Company Name © 2015</p>
                    </div>
              
                    <div class="footer-center">
              
                      <div>
                        <i class="fa fa-map-marker"></i>
                        <p><span>444 S. Cedros Ave</span> Solana Beach, California</p>
                      </div>
              
                      <div>
                        <i class="fa fa-phone"></i>
                        <p>+1.555.555.5555</p>
                      </div>
              
                      <div>
                        <i class="fa fa-envelope"></i>
                        <p><a href="mailto:support@company.com">supportcompany.com</a></p>
                      </div>
              
                    </div>
              
                    <div class="footer-right">
              
                      <p class="footer-company-about">
                        <span>About the company</span>
                        Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                      </p>
              
                      <div class="footer-icons">
              
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
              
                      </div>
              
                    </div>
              
                  </footer>
   
