<div class="main-main">
  <div class="main">
    <div class="left-part">
      <div class="wrapper">
        <div class="title">SignUp As Trainer</div>
        <form [formGroup]="trainerForm" (ngSubmit)="onSubmit()">
          <div class="field">
            <input type="text" formControlName="name" required />
            <label>Name</label>
          </div>
          <div class="field">
            <input type="tel" formControlName="phone_number" required />
            <label>Phone Number</label>
          </div>
          <div class="field">
            <input type="email" formControlName="email" required />
            <label>Email Address</label>
          </div>
          <div class="field">
            <input type="password" formControlName="password" required />
            <label>Password</label>
          </div>
          <div class="two-field">
            <input type="number" class="number_input" formControlName="price" placeholder="Rate" required>
            <input type="number" class="number_input days" formControlName="validity_days" placeholder="Validity Duration" required>
            <select formControlName="trainer_speciality" id="fitness-trainer-category" required>
              <option value="">Select a Specialization</option>
              <option value="strength-and-conditioning">Strength & Conditioning</option>
              <!-- Add other options as needed -->
            </select>
          </div>
          <div class="field">
            <input type="text" formControlName="image" required />
            <label>Profile Link</label>
          </div>
          <div class="field">
            <input type="text" formControlName="banner" required />
            <label>Banner Link</label>
          </div>
          <div class="oreno">
            <textarea formControlName="description" required cols="20" rows="8"></textarea>
          </div>
          <div class="field">
            <input type="submit" value="SignUp" />
          </div>
          <div class="signup-link">
            Already Have an Account? <a href="#">SignIn now</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>