<div class="d-flex justify-content-center">
    <form [formGroup]="studentForm" (ngSubmit)="getFormData()" class="mt-5 w-50">
      <div class="border border-info p-5" formArrayName="studentList">
        <div *ngFor="let student of studentListArray().controls; let i = index">
          <div [formGroupName]="i" class="border border-dark my-2 p-5" ngClass="">
           <div class="form-input">
            <mat-form-field class="example-full-width" floatLabel="always">
              
              <mat-label>Diet Name</mat-label>
                <input matInput placeholder="Diet Name" [readonly]="false"  type="text"formControlName="diet_name" >
              </mat-form-field>
            <mat-form-field class="example-full-width" floatLabel="always">
              <mat-label>Diet Quantity</mat-label>
                <input matInput placeholder="Diet Quantity"  type="number" formControlName="quantity" >
              </mat-form-field>
              <!-- kg,pc -->
              <mat-form-field appearance="outline" floatLabel="always" class="custom-select example-full-width selection-element weight-select">
                
                <mat-label>Measure</mat-label>
                  <mat-select formControlName="measurement" required>
                    <mat-option value="" class="custom-option">Select Scale</mat-option>
                    <mat-option value="Kg" class="custom-option">Kilogram(kg)</mat-option>
                    <mat-option value="gm" class="custom-option">Gram(gm)</mat-option>
                    <mat-option value="pc" class="custom-option">Piece(pc)</mat-option>
                   
                    <!-- Add other options as needed -->
                  </mat-select>
                </mat-form-field>

              <mat-icon class="fa fa-refresh" (click)="getCalories(i)"></mat-icon>
            <mat-form-field class="example-full-width" floatLabel="always"> 
              <mat-label>Calories</mat-label>
                <input matInput placeholder="Diet Calories"  type="number" formControlName="calories" (focus)="getCalories(i)">
              </mat-form-field>
              
              <mat-form-field appearance="outline" floatLabel="always" class="custom-select example-full-width selection-element">
                
              <mat-label>Time To Eat</mat-label>
                <mat-select formControlName="time_toeat" required>
                  <mat-option value="" class="custom-option">Select Time</mat-option>
                  <mat-option value="morning" class="custom-option">Morning</mat-option>
                  <mat-option value="evening" class="custom-option">Evening</mat-option>
                  <mat-option value="night" class="custom-option">Night</mat-option>
                 
                  <!-- Add other options as needed -->
                </mat-select>
              </mat-form-field>
              
                
           </div>
           <div class="set-add-remove">
            <div class="add-new">
                <button type="button" *ngIf="studentListArray().length > 1" (click)="removeStudent(i)"
                    class="btn btn-sm btn-danger ms-1"><mat-icon fontSet="material-icons" style="color: #173b35;">delete</mat-icon></button>
               </div>
               
                  <div class="remove-buttons">
                    <button type="button" (click)="addStudent(i)"
            class="btn btn-sm btn-primary mt-4 mb-5"
            [disabled]="!activeButton(i)">
            <mat-icon class="fa fa-add" style="color: #173b35;"></mat-icon>
    </button>
           </div>
              </div>

          </div>
        </div>
      </div>
      <button mat-raised-button color="primary" (click)="openSnackBar('Created', 'ok')" type="submit" class="mt-4 ms-2 mb-5" style="background-color: #21695c;">
        Save
      </button>
    </form>
  </div>