<app-navbar></app-navbar>
<div class="history">
    <div class="left-side">
        <app-sidebar [navItems]="navItems"></app-sidebar>
    </div>
    <!-- <div *ngFor="let trainer of trainers"> <p> {{ trainer.name }} </p>  </div> -->
    <div class="right-side">
    <div *ngIf="!trainers;else showtrainer">
        No Trainer is there
    </div>

    <ng-template #showtrainer>
        <app-subscription-buy-card class="cards" *ngFor="let trainer of trainers" [trainer]="trainer" [payment_details]="trainer"></app-subscription-buy-card>
    </ng-template>
    </div>
</div>