<app-navbar></app-navbar>
<div class="history">
    <div class="left-side">
        <app-sidebar [navItems]="navItems"></app-sidebar>
    </div>
    <div class="right-side">
        <div class="btn-group">
            <button (click)="handleExerciseClick()"  class="exercise-btn" handle>Exercise History</button>
            <button (click)="handleDietClick()">Diet History</button>
          </div>
    <app-history-component [exerciseHistory]="exerciseHistory"></app-history-component>
    </div>
</div>