

.history{
    /* height: fit-content; */
    align-items: center;
    justify-content: center;
    display: flex;
}
.left-side{
    width: 10%;
}
.right-side{
    padding-top: 90px;
    width: 60%;
}



h1{
margin: 28px;
color: #21695c;
}

.goal-section{
    margin-top: 100px;
}

@media (max-width:1080px) {
    .left-side{
        width: 10%;
    }
    .right-side{
        width: 80%;
        margin-top: 100px;
    }

}