<div class="d-flex justify-content-center">
    <form [formGroup]="studentForm" (ngSubmit)="getFormData()" class="mt-5 w-50">
      <div class="border border-info p-5" formArrayName="studentList">
        <div *ngFor="let student of studentListArray().controls; let i = index">
          <div [formGroupName]="i" class="border border-dark my-2 p-5" ngClass="">
           <div class="form-input">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Exercise Name" value="Sushi" type="text"formControlName="exercise_name" >
              </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Exercise Category" value="Sushi" type="text" formControlName="category" >
              </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Exercise Sets" value="Sushi" type="text" formControlName="sets">
                <mat-error *ngIf="studentForm.get('studentList')?.get('sets')?.hasError('pattern')">
                  Sets must be a number
                </mat-error>
              </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Exercise Estimated Time" value="Sushi" type="text" formControlName="estimated_time"> 
              </mat-form-field>
           </div>
           <div class="set-add-remove">
            <div class="add-new">
                <button type="button" *ngIf="studentListArray().length > 1" (click)="removeStudent(i)"
                    class="btn btn-sm btn-danger ms-1">Remove Exercise</button>
               </div>

               
                  <div class="remove-buttons">
                    <button type="button"  (click)="addStudent(i)"
            class="btn btn-sm btn-primary mt-4 mb-5"
            [disabled]="!activeButton(i)">
      Add New Exercise
    </button>
           </div>
              </div>

          </div>
        </div>
      </div>
      <button mat-raised-button color="primary" style="background-color: #21695c;" (click)="openSnackBar('Created', 'ok')" type="submit" class="mt-4 ms-2 mb-5">
        Save
      </button>
      

    </form>
  </div>