<div class="trainer-card">
    <img
      [src]="trainer.image"
      alt="{{ trainer.name }}"
      class="trainer-image"
      routerLink="/trainerdetails"
    />
    <div class="trainer-details">
      <h3 class="trainer-name">{{ trainer.name }}</h3>
      <p class="trainer-genre">{{ trainer.trainer_speciality }}</p>
    </div>
    
  </div>
  <div class="buttons-buy">
    <app-payment-component [trainer_details]="payment_details"></app-payment-component>
    <button class="info-button" (click)="navigateToTrainerDetails()">Info</button>
  </div>