.middle-part{
    width: 100%;
}
.left-side{
    width: 10%;
}
.right-side{
    width: 100%;
    display: flex;
    margin-top: 2%;
    justify-content: center;
}

.diet-chart{
    margin: 50px 0px;
}

@media (max-width:1080px) {
    .left-side{
        width: 10%;
    }
    .right-side{
        width: 80%;
    }

}
