<app-navbar></app-navbar>
<div class="middle-part">
    <div class="left-side">
        <app-sidebar [navItems]="navItems"
></app-sidebar>
    </div>
<div class="right-side">
    <div class="buttons-group">
        <div class="btn-group">
            <button (click)="handleLineClick()">Line</button>
            <button>Bar</button>
          </div>
    </div>
    <div class="chart-container" style="width: 60%;">
        <div class="exercise-chart">
            <h1>Exercise Completion Graph</h1>
            <canvas id="MyChart">{{ chart }}</canvas>
        </div>
        <div class="diet-chart">
            <h1>Diet Completion Graph</h1>
            <canvas id="MyChart2">{{ chart2 }}</canvas>
        </div>
    </div>
</div>
</div>

