
.main{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
}
.main-main{
    display: flex;
    justify-content: center;
}
.left-part{
    width: 50%;
    display: flex;
    justify-content: center;
}
.right-part{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

}
.right-part img{
    width: 90%;
}
::selection {
  background: #eb8028;
  color: #fff;
}
.wrapper {
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}
.wrapper .title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(135deg, #399987, #21695c);
}
.wrapper form {
  padding: 10px 30px 50px 30px;
}
.auth-input{
  padding: 0px;
}

.wrapper form .field {
  height: 50px;
  width: 100%;
  position: relative;
}
.wrapper form .field .submit-button {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}

form .field input[type="submit"] {
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: #010101;
  background: linear-gradient(135deg, #399987, #21695c);
  transition: all 0.3s ease;
}
form .field input[type="submit"]:active {
  transform: scale(0.95);
}
form .signup-link {
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a {
  color: #eb8028;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover {
  text-decoration: underline;
}

mat-form-field input{
  width: 100%;
}
mat-form-field{
  width: 80%;
}

.field{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input2{
  margin: 60px 0px;
  }

  .input1{
    margin: 30px 0px 0px 0px;
  }


@media (max-width: 1100px){
    .left-part{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right-part{
        display: none;
    }
}