<div class="d-flex justify-content-center">
  <form [formGroup]="studentForm" (ngSubmit)="getFormData()" class="mt-5 w-50">
    <div class="border border-info p-5" formArrayName="studentList">
      <div *ngFor="let student of getValues(); let i = index">
        <div [formGroupName]="i" class="border border-dark my-2 p-5" ngClass="">
         <div class="form-input">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="{{student.diet_name}}" [readonly]="true" type="text">
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <input matInput placeholder="{{student.quantity}}"  type="text"  readonly="true">
            </mat-form-field>
          <mat-form-field class="example-full-width">
              <input matInput placeholder="{{student.calories}}"  type="text"  readonly="true">
            </mat-form-field>
          <mat-form-field class="example-full-width">
              <input matInput placeholder="{{student.time_toEat}}"  type="text" readonly="true"> 
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Select Status</mat-label>
              <mat-select [(ngModel)]="status">
                
                  <mat-option [value]="status">Done</mat-option>
                  <mat-option [value]="status">Pending</mat-option>
                
              </mat-select>
            </mat-form-field>
         </div>
         <div class="set-add-remove">
          <div class="add-new">
              <button type="button" *ngIf="studentListArray().length > 1" (click)="removeStudent(i)"
                  class="btn btn-sm btn-danger ms-1">Remove Student</button>
             </div>
             
                
            </div>

        </div>
      </div>
    </div>
    <button type="submit" class="btn save-button btn-sm btn-success mt-4 ms-2 mb-5">Save</button>
  </form>
</div>