.example-full-width {
    margin: 0px 10px;
   }
  
  
    .add-new button{
      margin-right: 10px;
    }
    
    .set-add-remove{
      display: flex;
      justify-content: end;
      width: 100%;
      display: flex;
    }

    .form-input{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  
    .save-button{
      color: rgb(0, 0, 0);
      padding: 10px;
      border-radius: 4px;
      padding: 8px 15px;
      border: none;
      border: 1px solid rgb(235, 229, 229);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      font-weight: bold;
      text-decoration: none;
    }
  
    .save-button:hover{
      background-color: #21695c;
      border-radius: 4px;
      color: white;
    }
  
    
.creation-diet{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.creation-diet button{
  margin: 0px 15px;
}

.pending-text{
  font-size: 20px;
}

.detail-info{
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
   
.detail-info mat-icon{
  display: flex;
    align-items: center;
    justify-content: center;
}

  
   