<div class="openform">
    <form [formGroup]="trainerForm" (ngSubmit)="onSubmit()">
        <div class="field">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required />
            <mat-error *ngIf="trainerForm.get('name')?.hasError('required')">Name is required</mat-error>
            <mat-error *ngIf="trainerForm.get('name')?.hasError('minlength')">Name must be at least 2 characters long</mat-error>
            <mat-error *ngIf="trainerForm.get('name')?.hasError('maxlength')">Name cannot be more than 50 characters long</mat-error>
          </mat-form-field>
        </div>
        <div class="field">
          <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phone_number" type="tel" required />
            <mat-error *ngIf="trainerForm.get('phone_number')?.hasError('required')">Phone number is required</mat-error>
            <mat-error *ngIf="trainerForm.get('phone_number')?.hasError('minlength')">Phone number must be at least 2 characters long</mat-error>
            <mat-error *ngIf="trainerForm.get('phone_number')?.hasError('maxlength')">Phone number cannot be more than 15 characters long</mat-error>
          </mat-form-field>
        </div>
        <div class="field">
          <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="email" type="email" required />
            <mat-error *ngIf="trainerForm.get('email')?.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="trainerForm.get('email')?.hasError('email')">Invalid email format</mat-error>
            <mat-error *ngIf="trainerForm.get('email')?.hasError('minlength')">Email must be at least 6 characters long</mat-error>
            <mat-error *ngIf="trainerForm.get('email')?.hasError('maxlength')">Email cannot be more than 255 characters long</mat-error>
          </mat-form-field>
        </div>

        <div class="button-save">
            <button mat-flat-button color="primary" (click)="closeDialog()">Save</button>
        </div>
        </form>
</div>
